Repository Nikodermus/shortly-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(styles): include base styled system and images
  pages/_app.tsx
  public/favicon.ico
  public/images/bg-boost-desktop.svg
  public/images/bg-boost-mobile.svg
  public/images/bg-shorten-desktop.svg
  public/images/bg-shorten-mobile.svg
  public/images/favicon-32x32.png
  public/images/icon-brand-recognition.svg
  public/images/icon-detailed-records.svg
  public/images/icon-facebook.svg
  public/images/icon-fully-customizable.svg
  public/images/icon-instagram.svg
  public/images/icon-pinterest.svg
  public/images/icon-twitter.svg
  public/images/illustration-working.svg
  public/images/logo.svg
  src/components/style/BaseStyle.tsx
  src/constants/styled.ts
  src/utils/styled.ts
  styles/globals.css
Due: eslint --fix, prettier --write

feat(nav): create navbar and show/hide menu
  .babelrc
  .eslintrc
  package.json
  pages/_app.tsx
  public/images/logo.svg
  src/components/Footer/Footer.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Nav.tsx
  src/components/lib/BaseStyle.tsx
  src/components/lib/Button.tsx
  src/components/lib/Logo.tsx
  src/components/lib/Portal.tsx
  src/hooks/useClickOutside.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(header + shortener): iclude fold and shortener box
  pages/index.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Nav.tsx
  src/components/Shortener/LinkBox.tsx
  src/components/Shortener/ShortenBox.tsx
  src/components/Shortener/Shortener.tsx
  src/components/lib/BaseStyle.tsx
  src/components/lib/Button.tsx
  src/components/lib/Input.tsx
  src/components/lib/Text.tsx
  src/constants/styled.ts
  src/hooks/useLocalStorage.ts
  src/types/ShortenedLink.d.ts
  src/utils/fetch.ts
  test/component/App.test.tsx
Due: eslint --fix

feat(shortenbox.tsx): complete shorten funcionality
  .eslintrc
  src/components/Shortener/ShortenBox.tsx
  src/components/lib/BaseStyle.tsx
  src/components/lib/Button.tsx
  src/components/lib/Input.tsx
  src/constants/site.ts
  src/utils/fetch.ts
Due: eslint --fix

feat(linkbox.ts): create shortened link boxes with copy behavior
  src/components/Nav/Menu.tsx
  src/components/Nav/Nav.tsx
  src/components/Shortener/LinkBox.tsx
  src/components/Shortener/ShortenBox.tsx
  src/components/Shortener/Shortener.tsx
  src/constants/site.ts
  src/utils/copy.ts
Due: eslint --fix

feat(features.tsx): include feature cards
  pages/index.tsx
  src/components/Features/FeatureCard.tsx
  src/components/Features/Features.tsx
  src/components/Shortener/LinkBox.tsx
  src/components/lib/BaseStyle.tsx
  src/components/lib/Text.tsx
  src/constants/site.ts
  src/types/Card.d.ts
Due: eslint --fix

feat(featurescta.tsx & footer.tsx): complete mobile version
  src/components/Features/Features.tsx
  src/components/Features/FeaturesCTA.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/SiteMapBox.tsx
  src/components/Footer/SocialMedia.tsx
  src/components/lib/BaseStyle.tsx
  src/constants/site.ts
Due: eslint --fix

test(component testing): linkBox & Nav & ShortenBox
  pages/index.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Nav.tsx
  src/components/Shortener/LinkBox.tsx
  test/component/LinkBox.test.tsx
  test/component/Nav.test.tsx
  test/component/ShortenBox.test.tsx
Due: eslint --fix

test(utils/copy|fetch.ts): include Unit Testing
  src/utils/fetch.ts
  test/unit/.gitkeep
  test/unit/copy.test.ts
  test/unit/fetch.test.ts
Due: eslint --fix

feat(stylesheets): include them in SSR with styled-components
  .babelrc
  package.json
  pages/_document.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/SiteMapBox.tsx
  src/components/Footer/SocialMedia.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(header.tsx): moved to a component and create desktop version
  package.json
  pages/index.tsx
  src/components/Features/FeatureCard.tsx
  src/components/Header/Header.tsx
  src/components/Nav/Nav.tsx
  src/components/Shortener/LinkBox.tsx
  src/components/Shortener/ShortenBox.tsx
  src/components/lib/BaseStyle.tsx
  src/components/lib/Button.tsx
  src/components/lib/Text.tsx
  src/hooks/useScreenType.ts
  src/utils/styled.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(shortener/*.tsx): desktop version
  src/components/Nav/Nav.tsx
  src/components/Shortener/LinkBox.tsx
  src/components/Shortener/ShortenBox.tsx
  src/components/lib/Input.tsx
Due: eslint --fix

feat(features/*.tsx): desktop Version
  src/components/Features/FeatureCard.tsx
  src/components/Features/Features.tsx
  src/components/Features/FeaturesCTA.tsx
Due: eslint --fix

feat(footer/*.tsx): desktop Version
  src/components/Footer/Footer.tsx
  src/components/Footer/SiteMapBox.tsx
  src/components/Footer/SocialMedia.tsx
  src/components/lib/BaseStyle.tsx
Due: eslint --fix

feat(nav/*.tsx): desktop Version
  src/components/Features/FeatureCard.tsx
  src/components/Nav/DesktopMenu.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Nav.tsx
  src/components/Nav/NavActions.tsx
  src/components/Nav/NavLink.tsx
  src/components/Nav/NavLinks.tsx
  test/component/Nav.test.tsx
Due: eslint --fix

fix(nav.tsx): include display flex in mobile version
  src/components/Nav/Nav.tsx
Due: eslint --fix

docs(readme.md): include running and development instructions
  .huskyrc
  README.md
  package.json
  test/component/Header.test.tsx
Due: eslint --fix, prettier --write

docs(readme.md): include running and development instructions
  .huskyrc
Due: none

docs(readme.md): include use of CSS Variables Design System
  README.md
  src/components/Features/Features.tsx
Due: eslint --fix, prettier --write

fix(linkbox.tsx): adjust style to include flex-direction
  src/components/Shortener/LinkBox.tsx
  src/hooks/useScreenType.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,gql,ts,tsx}
  prettier --write: any of: *.{yaml,yml,json,md,html,css}
